.card {
    color: var(--text-color);
    width: 100%;
    background-color: initial;
    border: none;
    display: flex;
}

@keyframes background-animation {
    0% {
        background-color: var(--background-color);
        color: var(--text-color)
    }
    100% {
        background-color: var(--text-color);
        color: var(--background-color)
    }
}

@keyframes border-animation {
    100% {
        outline: 3px var(--accent-color-2) solid;
    }
}

.card_chosen:hover {
    animation: border-animation 1s forwards;
}

.card:not(.card_chosen):hover {
    animation: background-animation .07s forwards, border-animation 1s forwards;
}

.card:active {
    filter: drop-shadow(3px 10px 10px black);
}

.card_chosen {
    background-color: var(--text-color);
    color: var(--background-color);
}

.card__title {
    display: inline;
    text-align: left;
    margin: .5rem 0;
}

.card__category {
    transition: .3s ease-in-out;
    color: transparent;
    margin-left: .2rem;
    font-size: .8rem;
    vertical-align: top;
}

.card:hover .card__category {
    color: var(--accent-color-3)
}
