
.list {
    list-style: none;
    margin-block-start: 0;
    margin-bottom: 0;
    padding-block-start: 0;
    padding-inline-start: 0;
    display: flex;
    flex-direction: column;
}


.item {
    color: #fff;
    transition: .1s ease-in-out;
}

.item:hover {
    background-color: #fff;
    color: #000;
    cursor: pointer;
    box-shadow: black;
}

.item_chosen {
    background-color: #fff;
    color: #000
}

.item__title {
    margin: .5rem;
}
