.pointList__outer {
    display: grid;
}

.searchForm__search {
    background: var(--background-color);
    border: none;
    border-bottom: var(--accent-color-2) 1px solid;
    font-weight: lighter;
    width: 100%;
    font-size: 1.75rem;
    height: 3.5rem;
    float: left;
    color: var(--accent-color-2);
    padding: 0 0 0 10px;
    -webkit-transition: background .25s ease;
    -moz-transition: background .25s ease;
    -ms-transition: background .25s ease;
    -o-transition: background .25s ease;
    transition: background .25s ease;
}

.searchForm__search::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

.searchForm__search::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

.searchForm__search::-webkit-search-decoration,
.searchForm__search::-webkit-search-cancel-button,
.searchForm__search::-webkit-search-results-button,
.searchForm__search::-webkit-search-results-decoration {
    display: none;
}

.searchForm__search:hover, .searchForm__search:focus, .searchForm__search:active {
    outline: none;
}

::-webkit-input-placeholder {
    font-size: 1.75rem;
    color: var(--accent-color-2);
}

::-moz-placeholder {
    font-size: 1.75rem;
    color: var(--accent-color-2);
}

:-ms-input-placeholder {
    font-size: 1.75rem;
    color: var(--accent-color-2);
}

:-moz-placeholder {
    font-size: 1.75rem;
    color: var(--accent-color-2);
}


.list {
    list-style: none;
    margin-block-start: 0;
    margin-bottom: 0;
    padding-block-start: 0;
    padding-inline-start: 0;
    display: flex;
    flex-direction: column;
    gap: 2px;
}
