.list {
    background-color: #000;
    width: 100%;
    height: 100%;

    list-style: none;
    margin-block-start: 0;
    margin-bottom: 0;
    padding-block-start: 0;
    padding-inline-start: 0;
    display: flex;
    flex-direction: column;

    overflow-y: scroll;
    scrollbar-gutter: stable;
    padding: 3px;

    border-radius: 10px;
}

.list::-webkit-scrollbar {
    background-color: #222;
    width: 8px;
}

.list::-webkit-scrollbar-thumb {
    background-color: #fff;
}

.list__item {
    color: #fff;
    background-image: linear-gradient(90deg, transparent, transparent);
    transition: 3s ease-in-out;
}

.list__item:hover {
    background-image: linear-gradient(90deg, #FC354C, #0ABFBC);
    cursor: pointer;
}

.list__item_chosen {
    background-image: linear-gradient(90deg, #FC354C, #0ABFBC);
}
