/* Normalize lists */
.routes, .route {
    margin-block-start: 0;
    margin-bottom: 0;
    padding-block-start: 0;
    padding-inline-start: 0;
}


.routes {
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: .3rem 0;
}

.route{
    list-style: decimal;
    display: flex;
    flex-direction: column;
    padding: .3rem 0;
    gap: .4rem;
    width: 100%;
}

.route:not(.route:first-of-type) {
    border-top: #DE3C4B 3px dashed;
}

.route:hover {
    cursor: pointer;
    filter: brightness(.8);
}

.route__item {
    margin-left: 1.5em;
}

.route__title {
    margin: 0 0 0 1rem;
}
