/* Normalize lists */
.routes, .route {
    margin-block-start: 0;
    margin-bottom: 0;
    padding-block-start: 0;
    padding-inline-start: 0;
    list-style: none;
}


.routes {
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.route {

}

.route:hover {
    cursor: pointer;
}

.route__title {
    margin: 0;
}
