/* Normalize lists */
.routes, .route {
    margin-block-start: 0;
    margin-bottom: 0;
    padding-block-start: 0;
    padding-inline-start: 0;
}


.routes {
    color: #fff;
    padding-left: 2rem;
    list-style: none;
}

.route {

}
