@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Raleway&display=swap');

.app {
    min-height: 100vh;
    min-height: 100dvh;
}

* {
    font-family: var(--text-font);
}

:root {
    --background-color: #191923;
    --text-color: #FBFEF9;
    --accent-color-1: #0E79B2;
    --accent-color-2: #BF1363;
    --accent-color-3: #F39237;

    --text-font: 'Raleway', sans-serif;
}